@import 'base.scss';
@import 'theme.scss';

body {
	font-family: Tahoma, Verdana, Segoe, sans-serif;

	header {
		outline: 1px solid;
		padding: 20px 50px;
	}

	footer {
		outline: 1px solid;
		padding: 30px 0;
	}
}

code {
	white-space: pre-wrap;
}

.main-nav {
	// background-color: $main-nav-bg-color;
	// outline: 1px solid;
	margin: 20px 0 10px;

	a {
		color: $main-nav-link-color;
		font-size: 22px;
		margin: 0 30px 0 0;
	}
}

.static-page {
	max-width: 800px;
	background-color: #ddd;
	padding: 50px 30px;
	margin: 30px auto;

	h1 {

	}

	h2 {
		margin: 30px 0 0;
	}

	p {
		font-size: 18px;
		margin: 8px 0;
	}
}

.article-list {
	max-width: 80%;
	list-style-type: none;
	padding: 20px 30px;
	margin: 50px auto;
	outline: 1px solid;

	li {
		margin: 0 0 40px;
	}

	h1 {
		margin: 20px auto 0;

		a {
			color: #444;
		}
	}

	p {
		margin: 0;
	}

	.date {
		font-size: 14px;
	}
}

.new-article {
	max-width: 800px;
	margin: 0 auto;

	label {
		display: block;
		font-size: 20px;
		margin: 20px 0 5px;
	}
}

article {

}

.full-article {
	max-width: 800px;
	margin: 50px auto;

	h1 {
		font-size: 30px;
		margin: 0 auto 20px;
	}

	p {
		font-size: 18px;
	}

	.meta {
		background-color: #eee;
		padding: 5px 25px;

		p {
			font-size: 15px;
			margin: 4px 0;
		}
	}

	.lead {
		font-size: 20px;
	}
}

footer {
	clear: both;
	height: 100px;

	li {
		float: left;
		font-size: 20px;
		line-height: 1.5;
		margin: 0 20px;
	}
}

a {
	text-decoration: none;

	&:hover {
		text-decoration: underline;
	}
}

button,
input[type='submit'],
.ui-button {
	background-color: $button-bg-color;
	color: $button-text-color;
	font-size: 16px;
	line-height: 1;
	padding: 4px 8px;
	border: 1px solid $button-border-color;
	border-radius: 4px;

	&:hover {
		text-decoration: none;
	}
}

input[type="text"],
input[type="password"],
textarea {
	background-color: $input-bg-color;
	color: $input-text-color;
	font-size: 16px;
	padding: 3px 10px;
	border: 2px solid $input-border-color;
	border-radius: 4px;
}

