@import 'base.scss';

body {
	font-family: Tahoma, Verdana, Segoe, sans-serif;

	header {
		outline: 1px solid;
		padding: 30px 50px;
	}

	footer {
		outline: 1px solid;
		padding: 30px 0;
	}
}

.article-list {
	float: left;
	width: 300px;
	outline: 1px solid;

	h1 {

		a {
			color: #444;
		}
	}
}

.new-article {
	width: 50%;
	margin: 0 auto;

	label {
		display: block;
		font-size: 18px;
	}
}

article {

}

.fullArticle {
	float: left;
	width: 50%;
	margin: 50px 40px;

	.meta {
		background-color: #eee;
		padding: 5px 25px;
	}
}

footer {
	clear: both;
}

a {
	text-decoration: none;

	&:hover {
		text-decoration: underline;
	}
}

button,
input[type='submit'] {
	background-color: #55f;
	color: #eee;
	font-size: 16px;
	padding: 4px 6px;
	border: 1px solid rgba(0, 0, 0, .1);
	border-radius: 4px;
}