
$main-nav-bg-color: #ccc;
$main-nav-link-color: #333;

$button-text-color: #eee;
$button-bg-color: #55f;
$button-border-color: rgba(0, 0, 0, .1);

$input-text-color: #333;
$input-bg-color: #eee;
$input-border-color: rgba(0, 0, 0, .1);