$main-theme-color: #18447e;

$header-bg-color: #18447e;
$header-link-color: #fff;

$main-nav-bg-color: #18447e;
$main-nav-link-color: #fff;

$footer-bg-color: #18447e;
$footer-link-color: #fff;

$button-text-color: #fefefe;
$button-bg-color: #18447e;
$button-border-color: rgba(255, 255, 255, .2);

$input-text-color: #333;
$input-bg-color: #eee;
$input-border-color: rgba(0, 0, 0, .1);