{{#ivy-tabs selection=selection as |tabs|}}

	{{#tabs.tablist as |tablist|}}
	<ul class="preview-menu clearfix" role="presentation">
		<li role="presentation">
			{{#tablist.tab "Edit" on-select=(action (mut selection))}}Muokkaus{{/tablist.tab}}
		</li>
		<li role="presentation">
			{{#tablist.tab "Preview" on-select=(action (mut selection))}}Esikatselu{{/tablist.tab}}
		</li>
	</ul>
	{{/tabs.tablist}}

	{{#tabs.tabpanel "Edit"}}

		{{es-article-form
			article=model.article
			authors=model.authors
			author=model.article.author
			action='selectAuthor'
			submit='saveArticle'
			deleteArticle='deleteArticle'
		}}

	{{/tabs.tabpanel}}

	{{#tabs.tabpanel "Preview"}}

		{{es-article
			article=model.article
			author=model.article.author
		}}

	{{/tabs.tabpanel}}

{{/ivy-tabs}}