
<article>

	<h1>Mitä on Ember Suomi?</h1>

	<p>Ember Suomi on sivusto, jonka tarkoituksena on esitellä <a href="http://emberjs.com/">Ember.js</a>-frameworkia ja sen ympärillä toimivaa ekosysteemiä. Ember Suomi kerää hyödyllisiä juttuja ja koodinpätkiä Emberin maailmasta helposti lähestyttävällä otteella suomeksi. Ember Suomen kohdeyleisö on kaikki nykyaikaisesta web-ohjelmoinnista kiinnostuneet taitotasosta välittämättä.</p>

	<h2>Lähtökohdat</h2>

	<p>Idea sivuston rakentamiselle lähti henkilökohtaisesta tarpeestani löytää vapaa-ajan projekti, jonka kautta pystyisin ylläpitämään ja kehittämään osaamistani Emberin saralla ja web-tekniikoiden osalta ylipäätäänkin. Sivusto sai alkunsa loppusyksystä 2015.</p>

	<h2>Tekniikka</h2>

	<p>Sivujen julkisivu on toteutettu täysin Emberillä, luonnollisesti. Sivujen serveripäästä huolehtii x ja tietokantana on nönnönnöö.</p>

	<p>Ember Suomen lähdekoodi on vapaasti tutkittavissa <a href="https://github.com/jlemmetti">Githubissa</a> ja sivujen roadmap löytyy <a href="https://trello.com/b/KvNkbtLF/ember-suomi">Trellosta</a>. Palaute ja kehitysehdotukset ovat erittäin tervetulleita. Minut saa kiinni <a href="//twitter.com/jlemmetti">twitteristä</a>, <a href="mailto:jurkka.lemmetti@gmail.com">sähköpostilla</a> tai vaikka <a href="https://koodiklinikka.fi/">Koodiklinikalta</a>.</p>

	<p>-- Jurkka</p>

</article>

{{outlet}}
