
<article class="static-page">

	<h1>Mikä on Ember Suomi?</h1>

	<p>Ember Suomi on sivusto, jonka tarkoituksena on esitellä <a href="http://emberjs.com/">Ember.js</a>-frameworkia ja sen ympärillä toimivaa ekosysteemiä. Ember Suomi kerää hyödyllisiä juttuja ja koodinpätkiä Emberin maailmasta helposti lähestyttävällä otteella suomeksi. Ember Suomen kohdeyleisö on kaikki nykyaikaisesta web-ohjelmoinnista kiinnostuneet taitotasosta välittämättä.</p>

	<h2>Lähtökohdat</h2>

	<p>Idea sivuston rakentamiselle lähti henkilökohtaisesta tarpeestani löytää vapaa-ajan projekti, jonka kautta pystyisin ylläpitämään ja kehittämään osaamistani Emberin saralla ja web-tekniikoiden osalta ylipäätäänkin.</p>

	<h2>Tekniikka</h2>

	<p>Ember Suomen julkisivu on toteutettu täysin <a href="http://emberjs.com/">Emberillä</a>, luonnollisesti. Sivujen peräpäästä huolehtii <a href="https://firebase.google.com">Firebase</a>.</p>

	<p>Ember Suomen lähdekoodi on vapaasti tutkittavissa <a href="https://github.com/jlemmetti">Githubissa</a> ja sivujen roadmap löytyy <a href="https://trello.com/b/KvNkbtLF/ember-suomi">Trellosta</a>. Palaute ja kehitysehdotukset ovat erittäin tervetulleita. Minut saa kiinni <a href="//twitter.com/jlemmetti">twitteristä</a>, <a href="mailto:jurkka.lemmetti@gmail.com">sähköpostilla</a> tai vaikka <a href="https://koodiklinikka.fi/">Koodiklinikalta</a>.</p>

	<p>-- Jurkka</p>

	<aside>
		<ul>
			<li>
				<h2>Twitter</h2>
				<a href="https://twitter.com/EmberSuomi">@EmberSuomi</a>
			</li>
			<li>
				<h2>Sähköposti</h2>
				<a href="mailto:embersuomi@gmail.com">embersuomi@gmail.com</a>
			</li>
		</ul>
	</aside>

</article>

{{outlet}}
