
<h1>Artikkelit</h1>

<ul>
	{{#each model as |article index|}}

	<h1>{{#link-to 'articles.article' article}}{{article.title}}{{/link-to}}</h1>
	<h2>{{article.lead}}</h2>

	{{else}}
	<p>Ei artikkeleita :(</p>
	{{/each}}
</ul>


{{outlet}}
