
<h1>Kirjoittajat
{{#if session.isAuthenticated}}
	{{#link-to 'authors.new' class='ui-button'}}Uusi kirjoittaja{{/link-to}}
{{/if}}
</h1>

{{outlet}}

<ul class="author-list">
	{{#each sorted as |author index|}}

	<li class="clearfix">
		{{es-author
			author=author
		}}
	</li>

	{{else}}
	<p>Ei kirjoittajia :(</p>
	{{/each}}
</ul>

