
<article class="static-page">

<h1>Kirjoittajat</h1>

<ul class="author-list">
	{{#each sorted as |author index|}}

	<li class="clearfix">
		{{es-author
			author=author
		}}
	</li>

	{{else}}
	<p>Ei kirjoittajia :(</p>
	{{/each}}
</ul>

</article>
