
<article class="static-page">

	<h1>Resurssit</h1>

	<p>Hyödyllisiä linkkejä Ember-kehittäjille.</p>

	<h2>Ember</h2>

	<dl>
		<dt><a href="https://emberjs.com/statusboard">Status Board</a></dt>
		<dd>Lista tällä hetkellä kehityksen alla olevista ja hiljattain ilmestyneistä ominaisuuksista.</dd>

		<dt><a href="https://emberobserver.com/">Ember Observer</a></dt>
		<dd>Ember-addonit kategorioittain ja pisteytettynä niiden laadun mukaan.</dd>

		<dt><a href="https://www.emberaddons.com/">Ember Addons</a></dt>
		<dd>Yksinkertaisempi listaus Emberin addoneista. Käyttää Ember Observerin pisteytystä.</dd>

		<dt><a href="https://ember-community-slackin.herokuapp.com/">Ember Community Slack</a></dt>
		<dd>Ember-yhteisön virallinen Slack-ryhmä. Yli sata kanavaa eri aiheista Emberin ympärillä ja keskustelua 24/7.</dd>

		<dt><a href="https://ember-twiddle.com/">Ember Twiddle</a></dt>
		<dd>Testaa ja jaa Ember-koodiasi suoraan selaimesta.</dd>

		<dt><a href="https://github.com/emberjs/ember-inspector">Ember Inspector</a></dt>
		<dd>Ehdoton apuvälinen Ember-ohjelmien debuggaamiseen.</dd>

		<dt><a href="http://emberweekly.com/">Ember Weekly</a></dt>
		<dd>Viikottain ilmestyvä uutiskirje, joka kokoaa yhteen Ember-maailman viimeisimmät tapahtumat.</dd>
	</dl>

	<h2>Ember CLI</h2>

	<dl>
		<dt><a href="https://facebook.github.io/watchman/">Watchman</a></dt>
		<dd>Nopeuttaa build-aikoja Linux- ja Mac-ympäristöissä.</dd>

		<dt><a href="https://github.com/felixrieseberg/ember-cli-windows-addon">ember-cli-windows-addon</a></dt>
		<dd>Ember-addon joka auttaa nopeuttamaan build-aikoja Windows-ympäristössä.</dd>
		<dt><a href="https://github.com/ember-cli/ember-new-output/compare/v2.7.0...v2.11.0">ember-new-output</a></dt>
		<dd>Vertaa muutosta kahden eri Ember CLI -version välillä.</dd>
	</dl>


	<h2>Ember Data</h2>

	<dl>
		<dt><a href="http://andycrum.github.io/ember-data-model-maker/">Ember Data model maker</a></dt>
		<dd>Tämän ohjelman avulla voit suunnitella modelisi. Ohjelma generoi myös esimerkit Ember Datan odottamasta JSON:sta.</dd>
	</dl>

	<h2>Muuta hyödyllistä</h2>

	<dl>
		<dt><a href="https://docs.npmjs.com/getting-started/fixing-npm-permissions">Fixing npm permissions</a></dt>
		<dd>Vinkkejä NPM:n virittelyyn Unix-ympäristössä.</dd>

		<dt><a href="https://github.com/buunguyen/octotree">Octotree</a></dt>
		<dd>Selainlaajennus, joka näyttää GitHub-projektit tiedostopuuna sivun reunassa.</dd>

		<dt><a href="https://github.com/tjunnone/npm-check-updates">npm-check-updates</a></dt>
		<dd>Tarkista projektiisi tarjolla olevat päivitykset nopeasti <code>ncu</code>-komennolla.</dd>
	</dl>

</article>
